section.certificates {
  // flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  // margin-bottom: $size-10;

  ul.certificate-list {
    margin-top: $size-10;
    // display: flex;
    // flex-grow: 1;
    // flex-direction: column;
    // justify-content: space-between;

    li.certificate-item {
      a.title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .detail-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        strong {
          color: var(--highlight-color);
        }

        .year {
          font-family: $number-font;
        }
      }
      margin-bottom: $size-10*1.5;
    }
  }
}