.contact {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contacts qr-heading"
    "contacts qr-code";
  padding: $page-margin $page-margin $size-10 $page-margin * 0.5;

  .contacts {
    grid-area: contacts;
    padding: $size-10 * 0.5;
    display: flex;
    flex-direction: column;
    ul {
      margin-top: $size-10;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;

      li {
        i {
          margin-right: 8px;
        }
      }
    }
  }
  .qr-heading {
    grid-area: qr-heading;
    text-align: center;
    color: var(--highlight-color);

    font-family: "Caveat", cursive;
  }
  .qr-code {
    position: relative;
    grid-area: qr-code;
    padding: 3px;
    height: 125px;
    width: 125px;
    margin-right: -3px;

    .qr-background {
      fill: var(--page-background);
    }
    .qr-primary {
      fill: var(--page-color);
    }
    .qr-none {
      fill: none;
    }
    .qr-accent {
      fill: var(--highlight-color);
    }

    @media print {
      background: linear-gradient(to right, var(--highlight-color) 2px, transparent 2px) 0 0,
        linear-gradient(to right, var(--highlight-color) 2px, transparent 2px) 0 100%,
        linear-gradient(to left, var(--highlight-color) 2px, transparent 2px) 100% 0,
        linear-gradient(to left, var(--highlight-color) 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, var(--highlight-color) 2px, transparent 2px) 0 0,
        linear-gradient(to bottom, var(--highlight-color) 2px, transparent 2px) 100% 0,
        linear-gradient(to top, var(--highlight-color) 2px, transparent 2px) 0 100%,
        linear-gradient(to top, var(--highlight-color) 2px, transparent 2px) 100% 100%;

      background-repeat: no-repeat;
      background-size: $size-10 * 2 $size-10 * 2;
    }

    &:hover {
      background: linear-gradient(to right, var(--highlight-color) 2px, transparent 2px) 0 0,
        linear-gradient(to right, var(--highlight-color) 2px, transparent 2px) 0 100%,
        linear-gradient(to left, var(--highlight-color) 2px, transparent 2px) 100% 0,
        linear-gradient(to left, var(--highlight-color) 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, var(--highlight-color) 2px, transparent 2px) 0 0,
        linear-gradient(to bottom, var(--highlight-color) 2px, transparent 2px) 100% 0,
        linear-gradient(to top, var(--highlight-color) 2px, transparent 2px) 0 100%,
        linear-gradient(to top, var(--highlight-color) 2px, transparent 2px) 100% 100%;

      background-repeat: no-repeat;
      background-size: $size-10 * 2 $size-10 * 2;

      &:after {
        content: "scan to save my contact";
        position: absolute;
        width: 100px;
        top: 20px;
        left: -100px;
        font-family: "Yellowtail", cursive;
        font-size: 24px;
        color: var(--highlight-color);
        display: inline-block;
        transform: rotate(-20deg);
      }
      &:before {
        content: $icon-forward;
        font-family: "#{$icon-font-family}" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: absolute;
        width: 100px;
        top: 55px;
        left: -50px;
        font-size: 40px;
        color: var(--highlight-color);
        display: inline-block;
        transform: rotate(-20deg);
      }
    }
  }
}
