header {
  display: grid;
  grid-template-columns: $side-width 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-template-areas: "name contact";
  width: 100%;
}

.name {
  grid-area: name;
  background-color: var(--side-background);
  padding: $page-margin $page-margin*0.5 $size-10 $page-margin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    color: var(--side-color);
  }

  h2 {
    color: var(--highlight-color);
  }
}

.contact {
  grid-area: contact;
  background-color: var(--page-background);
  // padding: 5px;
}
