*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none !important;
}

@page { size: A4 }

body {
	font-family: $body-font;

	&.A4 {
		.sheet {
			height: 297mm !important;
		}
	}
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  box-shadow: 2px 2px 3px #999;
  height: 32px;
  color: var(--highlight-color);
  transition: all 0.3s linear;
  cursor: pointer;
	border: none;
}

/* Sidebar Nav */
.sidebar-header, .sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}


.logo {
  justify-self: center;
	align-items: center;
	display: flex;
	padding: 0.5rem 0;
	font-size: 1.5rem;

}

.links li{
  display: flex;
	column-gap: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: hsl(210, 22%, 49%);
  transition: all 0.3s linear;

	&:hover {
		background-color: #eee;
	}

	div {
		height: 40px;
		width: 40px;
		border: 1px solid black;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: all 0.3s linear;
  transform: translate(-100%);
	z-index: 100;
	width: 256px;
	box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
}

.show-sidebar {
  transform: translate(0);
}

h1 {
	font-size: 4 * $size-10;
	text-transform: uppercase;
	font-family: $header-font;
	letter-spacing: 2px;
}

h2 {
	font-size: 2 * $size-10;
	font-family: $header-font;
	text-transform: uppercase;
	// font-weight: 100;
	word-spacing: 2px;
	letter-spacing: 1px;
}

h3 {
	font-size: 18px;
	font-family: $header-font;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3.section-header {
	display: flex;
	flex-direction: row;
	color: var(--highlight-color);
	justify-content: space-between;
	align-items: flex-end;

	.sub-title {
		font-size: 14px;
		color: var(--page-color);
		font-family: $body-font;
		text-transform: initial;
	}
}

a {
	text-decoration: none;
	color: var(--page-color);
	&:hover {
		// color: var(--highlight-color);
		text-decoration: underline;
	}
}

.text-highlight {
	color: var(--highlight-color);
	font-weight: 400;
}

.text-light {
	font-weight: 100;
}

.float-btn {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: var(--side-background);
	color: var(--side-color);
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}
@media print {
	.float-btn {
		display: none;
	}
	.sidebar {
		display: none;
	}

	.sidebar-toggle {
		display: none;
	}
}
