/** 

    @include font-face($icon-font-family, "#{$font-path}/icons/#{$icon-font-family}", ("ttf", "eot", "woff", "svg")) {
        font-style: normal;
        font-weight: normal;
    }

    [class^="g2y-icon"],
    [class*=" g2y-icon"] {
        // use !important to prevent issues with browser extensions that change fonts 
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        // Better Font Rendering =========== 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-logo {
        &:before {
            content: $icon-logo;
        }
    }

    .icon-arrow {
        &:before {
            content: $icon-arrow;
	    }
    }
 
**/
