@include font-face($icon-font-family, "#{$font-path}/icons/#{$icon-font-family}", ("ttf", "eot", "woff", "svg")) {
  font-style: normal;
  font-weight: normal;
}

[class^="icon"],
[class*=" icon"],
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-phone-call {
  &:before {
    content: $icon-phone-call;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward; 
  }
}