// Font Path
$font-path: "../assets/fonts" !default;
//  font path
$icon-font-path: "../fonts/";
// ICONS
$icon-font-family: "icomoon" !default;
$icon-github: "\e900";
$icon-gitlab: "\e901";
$icon-globe: "\e902";
$icon-linkedin: "\e903";
$icon-mail: "\e904";
$icon-phone-call: "\e905";
$icon-twitter: "\e906";


$side-background: #333333;
$side-color: #eeeeee;
$page-background: #eeeeee;
$page-color: #333333;
$side-width: 250px;

$header-font: 'Oswald', "sans-serif";