:root {
  --side-background: #ffffff;
  --highlight-color: #000000;
  --page-background: #ffffff;
  --side-color: #000000;
  --page-color: #000000;
}

$side-width: 270px;

$header-font: 'Oswald', 'sans-serif';
$body-font:  'Barlow', 'Lato', 'sans-serif';
$monospace-font: 'Roboto Mono', 'monospace';
$number-font: 'Barlow', 'Lato',  'sans-serif';
$page-margin: 10mm;
$size-10: 10px;

