<section class="awards">
  <h3 class="section-header">Awards & Recognitions</h3>
  <ul>
    <li>Won 4th position in Digirupt 2016, a hackathon conducted by Wipro Digital for project Ambuhelp</li>
    <li>Topcoder challenge winner (Wipro Hosted) for pdf to JSON parser for CIOMS forms (Medical Records)</li>
    <li>Awarded as Best Consultant/Technical Expert for contribution to Capital One client.</li>
    <li>Best Junior Engineer for the quarter Jan-Mar 2015</li>
  </ul>
</section>