<section class="certificates">
  <h3 class="section-header">Certificates</h3>
  <ul class="certificate-list">
    <li class="certificate-item">
      <a class="title" href="https://www.codechef.com/certificates/preview/f12aff4">
        CodeChef Certified Foundation Level Exam
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>CodeChef</strong></span>
        <span class="year">Year of Issue : <strong>2019</strong></span>
      </div>
    </li>
    <li class="certificate-item">
      <a class="title"
        href="https://res.cloudinary.com/dren4jgbp/image/upload/v1581549686/resume/AWS_Certified_Developer_-_Associate_certificate.pdf">
        AWS Certified Developer - Associate
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>Amazon</strong></span>
        <span class="year">Year of Issue : <strong>2017</strong></span>
      </div>
    </li>
    <li class="certificate-item">
      <a class="title" href="https://res.cloudinary.com/dren4jgbp/image/upload/v1581549688/resume/Mogno-Certificate.ai">
        IM101J: MongoDB for Java Developers
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>MongoDB, Inc.</strong></span>
        <span class="year">Year of Issue : <strong>2014</strong></span>
      </div>
    </li>
    <li class="certificate-item">
      <a class="title" href="https://www.youracclaim.com/badges/a8c885bb-e3cb-4b7c-932f-6a6408998bbf/linked_in_profile">
        IBM Certified Application Developer - Cloud Platform V1
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>IBM</strong></span>
        <span class="year">Year of Issue : <strong>2017</strong></span>
      </div>
    </li>
    <li class="certificate-item">
      <a class="title" href="https://res.cloudinary.com/dren4jgbp/image/upload/v1581549688/resume/Mogno-Certificate.ai">
        Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>Microsoft</strong></span>
        <span class="year">Year of Issue : <strong>2013</strong></span>
      </div>
    </li>
  </ul>
</section>