<section class="certificates">
  <h3 class="section-header">Certificates</h3>
  <ul class="certificate-list">
    {{#each certificates}}
      <li class="certificate-item">
      <a class="title" href="{{url}}">
        {{name}}
      </a>
      <div class="detail-row">
        <span class="issued-by">Issued by: <strong>{{issuer}}</strong></span>
        <span class="year"><strong>{{dateFormat date 'MMM yyyy'}}</strong></span>
      </div>
    </li>
    {{/each}}
  </ul>
</section>