<div class="contacts">
  <h3 class="section-header">Contact & Profiles</h3>
  <ul>
    <li>
      <i class="icon icon-mail"></i>
      <a href="mailto:mail@saubhdutta.dev" target="__blank">mail@saubhdutta.dev</a>
    </li>
    <li>
      <i class="icon icon-globe"></i>
      <a href="https://saurabhdutta.dev" target="__blank">saurabhdutta.dev</a>
    </li>
    <li>
      <i class="icon icon-github"></i>
      <a href="https://github.com/saurabh73" target="__blank">github.com/saurabh73</a>
    </li>
    <li>
      <i class="icon icon-linkedin"></i>
      <a href="https://linkedin.com/in/saurabh-dutta/" target="__blank">linkedin.com/in/saurabh-dutta/</a>
    </li>
  </ul>
</div>
<!-- <div class="qr-heading">Save my contact</div> -->
<div class="qr-code">
  <img src="/assets/images/qr-code.svg" height="auto" width="120px" alt="" srcset="" />
</div>