<section class="education">
  <h3 class="section-header">Education</h3>
  <ul class="education-list">
    <li class="education-item">
      <h4 class="title">B.Tech Computer Science</h4>
      <p class="institution">University of Allahabad</p>
      <p class="duration"><span>2010</span> - <span>2014</span></p>
    </li>
    {{!-- <li class="education-item">
      <h4 class="title">B.Tech Computer Science</h4>
      <p class="institution">University of Allahabad</p>
      <p class="duration"><span>2010</span> - <span>2014</span></p>
    </li> --}}
  </ul>
</section>