<section class="work-experience">
  <h3 class="section-header">Work Experience<span class="sub-title">(Total Experience: 6 Years)</span></h3>
  <ul class="experience-list">
    <li class="experience-item">
      <a class="title" href="https://www.wipro.com/">Wipro Technologies<span class="sub-title">2016-Present</span></a>
      <p class="designation">Position: <span>Technologist</span></p>
      <p class="description">
        Working as a Technologist in an innovation-led, digital transformation partner built for today’s digital challenges. My current project is for Capital One.
      </p>
      {{!-- <strong>Technologies Used</strong>
      <ul class="tech-tags">
        <li class="badge">Java</li>
        <li class="badge">Docker</li>
        <li class="badge">Spring</li>
        <li class="badge">AWS</li>
        <li class="badge">Gradle</li>
        <li class="badge">Kafka</li>
        <li class="badge">Node.js</li>
      </ul> --}}
    </li>
     <li class="experience-item">
      <a class="title" href="https://www.infogain.com//">Infogain India Pvt. Ltd.<span class="sub-title">2016-Present</span></a>
      <p class="designation">Position: <span>Software Engineer</span></p>
      <p class="description">
        Worked as Software Engineer, and got hands on experience on various technologies credits to extensive Instructor led training program of Infogain. Worked for NCR Corporation for my project gagement on their product called VISION, which is used to monitor & administer ATM machines for their various Banking clients. Project included development of RESTful web-services.
      </p>
      {{!-- <strong>Technologies Used</strong>
      <ul class="tech-tags">
        <li class="badge">Java</li>
        <li class="badge">Spring</li>
        <li class="badge">Junit</li>
        <li class="badge">Maven</li>
      </ul> --}}
    </li>
     <li class="experience-item">
      <a class="title" href="https://www.wipro.com/">Wipro Technologies<span class="sub-title">2016-Present</span></a>
      <p class="designation">Position: <span>Intern</span></p>
      <p class="description">
        Learned about Payments Methods and SWIFT Standards (MT101 and Pain.001.001.05) and developed a parser for the same. This Internship helped me to gain knowledge about Software Development Cycle and XML technologies and enhanced my Java skills.
      </p>
      {{!-- <strong>Technologies Used</strong>
      <ul class="tech-tags">
        <li class="badge">Java</li>
        <li class="badge">XML</li>
        <li class="badge">JUnit</li>
      </ul> --}}
    </li>
  </ul>
</section>