<aside class="sidebar">
  <div class="sidebar-header">
    <span class="logo">Theme Selector</span>
  </div>
  <!-- links -->
  <ul class="links">
    <li class="theme-item">
      <div data-color="#231942"></div>
      <div data-color="#EE4266"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#454955"></div>
    </li>
    <li class="theme-item">
      <div data-color="#14080E"></div>
      <div data-color="#1C7C54"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#49475B"></div>
    </li>
    <li class="theme-item">
      <div data-color="#251F47"></div>
      <div data-color="#3F8EFC"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#505A5B"></div>
    </li>
    <li class="theme-item">
      <div data-color="#1B1B1E"></div>
      <div data-color="#488E99"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#373F51"></div>
    </li>
    <li class="theme-item">
      <div data-color="#4A1942"></div>
      <div data-color="#BE4B92"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#050404"></div>
    </li>
    <li class="theme-item">
      <div data-color="#1D352C"></div>
      <div data-color="#5FAD56"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#050404"></div>
    </li>
    <li class="theme-item">
      <div data-color="#191716"></div>
      <div data-color="#E6AF2E"></div>
      <div data-color="#FCFCFC"></div>
      <div data-color="#050404"></div>
    </li>
  </ul>
   <div class="sidebar-footer">
    <p>Schema: <a href="https://jsonresume.org/">JSON Resume</a></p>
  </div>
</aside>